
#main{
    position: fixed;
    width: calc(100% - 4px);
    height: 100%;
    margin : -8px;
    background-image: url("./imgs/macbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    overflow-y: scroll;
}

#main .dropzone{
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(221, 221, 221, 0.4);
    border-radius : 6px;
    margin-left: 30px;
    margin-top: 15px;
    transition: 0.6s;
    display: inline-block;
}

#main .dropzone:hover{
    border-color: rgb(107, 252, 163);
}

#main .dropzone .content{
    position: relative;
    background-size: cover;
    width: 90px;
    height: 90px;
    top: 5px;
    left : 5px;
}

#main .dropzone .content:hover{
    cursor: pointer;
}

#main .dropzone .content:active{
    cursor: grab;
}


/* animation when we hover in any dropzone in drag time */
@keyframes onDragOver{
    0%{
        border-color: rgba(255, 46, 255, 0.055);
    }
    30%{
        border-color: rgba(255, 46, 255, 0.3);
    }
    50%{
        border-color: rgba(255, 46, 255, 0.5);
    }
    70%{
        border-color: rgba(255, 46, 255, 0.7);
    }
    100%{
        border-color: rgba(255, 46, 255, 1);
    }
}
